:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f9f7fe;
  --btn-bg-color: #6c63ff;
  --default-font-color: #68647b;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --heading-font-weight: 700;
  --paragraph-font-weight: 400;
  --default-font-weight: 500;
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-size: 96px;
  line-height: 127.97px;
  margin-bottom: 24px;
}
h2 {
  font-size: 64px;
  font-weight: var(--heading-font-weight);
  line-height: 85.31px;
  font-family: var(--heading-font-family);
  margin-bottom: 55px;
}
a {
  text-decoration: none;
  color: var(--btn-bg-color);
  font-size: 24px;
}
.homepage-header {
  background-color: var(--bg-secondary);
}
nav {
  justify-content: space-between;
  padding: 40px 0 0;
}
.logo {
  max-width: 150px;
}
.nav-list {
  padding: 0;
  margin: 0;
  display: flex;
  max-width: 345px;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}
.nav-list li {
  list-style: none;
}
.nav-link {
  font-family: var(--default-font-family);
  font-weight: var(--default-font-weight);
  font-size: 16px;
  line-height: 24px;
  transition: all 100ms ease-in;
}
.nav-link:hover,
.active {
  color: var(--btn-bg-color);
}

.hero {
  padding: 194.18px 0 271px;
  background-color: var(--bg-secondary);
  text-align: center;
}
.hero-subheading {
  font-family: var(--default-font-family);
  font-weight: var(--heading-font-weight);
  font-size: 36px;
  line-height: 54px;
  color: var(--default-font-color);
  margin: 0;
}
.heading {
  margin-bottom: 49px;
  font-weight: var(--paragraph-font-weight);
  color: var(--default-font-color);
}
.paragraph {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 36px;
}
.my-btn {
  background-color: var(--btn-bg-color);
  padding: 18px 46px;
  color: white;
  border-radius: 4px;
  border-color: transparent;
  margin-bottom: 49px;
  font-family: var(--default-font-family);
  font-weight: var(--default-font-weight);
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}
.projects {
  background-color: var(--bg-primary);
}
.description {
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 27px;
}
.projects-description {
  font-weight: var(--paragraph-font-weight);
  color: var(--default-font-color);
  padding: 127px 35px 82px;
  margin: 0;
}
.img-container {
  background-color: var(--bg-secondary);
  border-radius: 20px;
}
.project-text {
  padding-left: 61px;
}
.project-paragraph {
  font-family: var(--default-font-family);
  color: var(--default-font-color);
  font-weight: var(--paragraph-font-weight);
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 50px;
}
.project-link {
  font-family: var(--default-font-family);
  font-weight: var(--default-font-weight);
  font-size: 16px;
  line-height: 24px;
  color: var(--btn-bg-color);
  padding: 18px 25px;
  border: 1px solid var(--btn-bg-color);
  border-radius: 4px;
  text-decoration: none;
}

.section-container {
  padding: 157px 0 204px;
}
.section-content {
  padding: 30px;
}
.main-container {
  margin-top: 157px;
}
.about-heading {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-size: 64px;
  line-height: 85.31px;
}
.about-subheading {
  font-weight: var(--heading-font-weight);
}

.about-img {
  max-width: 560px;
  height: auto;
}

.work-heading {
  width: 70%;
  padding: 177px 0 103px;
}

.card-heading {
  font-weight: var(--heading-font-weight);
  margin: 16px 0 9px;
}
.card-paragraph {
  font-family: var(--default-font-family);
  font-weight: var(--paragraph-font-weight);
  font-size: 14px;
  line-height: 21px;
  color: var(--default-font-color);
}
.footer-block {
  width: 100%;
  background-color: var(--bg-secondary);
  border-radius: 20px;
  margin-bottom: 81px;
  justify-content: space-between;
  align-items: center;
  padding: 49px 121px 42px 119px;
}
.footer-text {
  flex-direction: column;
  justify-content: center;
  row-gap: 18px;
}
.footer-heading {
  font-size: 48px;
  line-height: 63.98px;
  margin: 0;
}
.footer-paragraph {
  font-weight: var(--paragraph-font-weight);
  color: var(--default-font-color);
  margin: 0;
}
.email-link {
  font-weight: var(--default-font-weight);
  color: black;
}
.socials {
  width: 186px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 60px;
}
.social-icon {
  width: 40px;
}

@media (max-width: 992px) {
  nav {
    justify-content: center;
    padding: 15px 0;
  }
  .hero {
    padding: 40px 0 60px;
  }
  h1,
  h2,
  .about-heading {
    font-size: 44px;
    line-height: 1.5;
  }
  .description {
    font-size: 28px;
    line-height: 1.3;
  }
  h2,
  .about-subheading {
    margin-bottom: 25px;
  }
  .projects-description {
    padding: 40px 35px;
  }
  .project-text {
    padding: 0 15px;
    text-align: center;
  }
  .project-paragraph {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .project-link {
    font-size: 20px;
  }

  .about-section {
    padding: 0;
  }
  .main-container {
    margin-top: 23px;
  }
  .about-section-content {
    text-align: center;
  }
  .work-heading {
    width: 100%;
    padding: 30px 0 20px;
  }
  .footer-block {
    padding: 15px 25px;
  }
  .footer-heading {
    font-size: 32px;
    line-height: 1.3;
  }
  .footer-btn {
    padding: 12px 23px;
  }
  .socials {
    margin: 0 auto 50px;
  }
  .github-link-paragraph,
  .github-link-paragraph a {
    font-size: 15px;
  }
}
